* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hero__section {
    color: #fff;
    background: #002ed0;
    padding: 0 60px;
}

.hero__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 820px;
}

.column__left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.column__left h1 {
    font-size: 5.625rem;
}

.column__left p {
    font-size: 1rem;
    line-height: 2.3;
}

.column__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero__img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1100px) {
    .hero__section {
        padding: 30px;
    }

    .hero__wrapper {
        grid-template-columns: 1fr;
    }

    .column__left h1 {
        font-size: 5rem;
    }
}

@media screen and (max-width: 468px) {
    .hero__wrapper {
        grid-template-rows: 600px;
    }

    .column__left h1 {
        font-size: 2rem;
    }
}

/* About Section */
.main__section {
    padding: 3.75rem 3.75rem;
    color: #fff;
    background: #002ed0;
}

.main__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.main__container h1 {
    font-size: 6.875rem;
    color: #fff;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
    margin-bottom: 2rem;
}

.main__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 700px;
}

.main__text {
    padding-right: 1.25rem;
}

.main__text h2 {
    font-size: 3rem;
    line-height: 1.5;
    margin-bottom: 32px;
}

.main__text p {
    line-height: 2.3;
}

.main__image {
    display: flex;
    justify-content: center;
}

.main__img {
    width: 420px;
    height: 610px;
}

/* Media Queries for About Section */
@media screen and (max-width: 1000px) {
    .main__section {
        padding: 30px;
    }

    .main__content {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .main__image {
        margin-top: 2.5rem;
    }

    .main__container h1 {
        font-size: 4.375rem;
    }
}

@media screen and (max-width: 468px) {
    .main__text h2 {
        font-size: 2rem;
    }

    .main__img {
        width: 100%;
        height: 100%;
    }
}

/* Services Section */
.services {
    color: #fff;
    background: #002ed0;
    position: relative;
}

.services__container {
    background: #000;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 60px;
}

.services__grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 700px;
}

.services__container h1 {
    font-size: 3.125rem;
}

.services__left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 50px;
}

.services__content {
    display: flex;
    align-items: flex-start;
}

.services__container img {
    margin-right: 50px;
}

.services__desc h2 {
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.services__desc p {
    line-height: 2;
}

.services__right {
    overflow: hidden;
}

img.macbook {
    height: 700px;
    width: 100%;
}

.yellow__bar {
    color: #000;
    background: yellow;
    position: absolute;
    height: 80px;
    bottom: -40px;
    right: 0;
    width: 80%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.yellow__bar img {
    margin: 0 40px;
}

.yellow__bar p {
    margin-right: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

/* Media Queries for Services Section */
@media screen and (max-width: 768px) {
    .services__grid {
        grid-template-columns: 1fr;
    }

    .macbook {
        display: none;
    }

    .yellow__bar {
        width: 100%;
        justify-content: flex-start;
    }
}

@media screen and (max-width: 468px) {
    .services__container {
        padding-top: 100px;
        padding-bottom: 200px;
        padding-left: 16px;
    }

    .services__grid {
        grid-template-columns: 1fr;
        grid-template-rows: 900px;
    }

    .services__container h1 {
        text-align: center;
        margin-bottom: 50px;
    }

    .services__left {
        padding: 0 24px;
    }

    .services__content {
        margin-top: 40px;
    }

    .services__content img {
        margin-right: 16px;
    }

    .yellow__bar img {
        margin: 0 20px;
    }

    .yellow__bar p {
        margin-right: 20px;
    }
}

/* Portfolio Section */
.portfolio {
    color: #fff;
    background: #002ed0;
}

.portfolio__container {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 60px;
}

.portfolio__container h1 {
    color: #fff;
    font-size: 6.875rem;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
    margin-bottom: 32px;
}

.portfolio__main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.portfolio__img {
    height: 100%;
    width: 100%;
}

.portfolio__right {
    padding: 150px 100px 0 20px;
}

.portfolio__right h2 {
    font-size: 1.875rem;
    margin-bottom: 40px;
}

.portfolio__right p {
    margin-bottom: 50px;
    line-height: 2.5;
}

.portfolio__right a {
    color: #fff;
    text-decoration: none;
    border-radius: 12px;
}

.portfolio__right a:hover {
    text-decoration: underline;
}

.portfolio__projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 32px 64px;
}

.portfolio__projects img {
    padding: 0 8px;
    width: 100%;
    height: 100%;
}

/* Media Queries for Portfolio Section */
@media screen and (max-width: 1368px) {
    .portfolio__projects {
        flex-direction: column;
    }
}

@media screen and (max-width: 1000px) {
    .portfolio {
        padding: 30px;
    }

    .portfolio__container h1 {
        font-size: 4.375rem;
    }

    .portfolio__main {
        grid-template-columns: 1fr;
    }

    .portfolio__container {
        padding-left: 0;
    }

    .portfolio__right {
        margin-bottom: 60px;
    }
}

@media screen and (max-width: 468px) {
    .portfolio {
        padding: 10px;
    }

    .portfolio__container h1 {
        font-size: 2.5rem;
    }
}

/* Contact Section */
.contact {
    display: flex;
    align-items: center;
    background: #002ed0;
    padding: 100px 0;
}

.contact__bar {
    color: #000;
    background: yellow;
    height: 80px;
    width: 68%;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.contact__bar img {
    margin-right: 40px;
}

.contact__bar p {
    margin-right: 40px;
    font-weight: 700;
}

.contact__bar span {
    margin-right: 40px;
}

.contact h1 {
    color: #fff;
    font-size: 2.5rem;
    margin-left: 100px;
}

/* Media Queries for Contact Section */
@media screen and (max-width: 768px) {
    .contact {
        flex-direction: column;
    }

    .contact__bar {
        width: 100%;
        justify-content: center;
    }

    .contact__bar img {
        margin-left: 16px;
        margin-right: 16px;
    }

    .contact__bar p {
        margin-right: 16px;
    }

    .contact__bar span {
        font-size: 1rem;
    }

    .contact h1 {
        font-size: 2rem;
        margin-left: 0;
        margin-top: 32px;
    }
}

/* Footer Section */

.footer {
    color: #fff;
    background: #002ed0;
}

.footer__container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 60px;
}

.footer__left {
    display: flex;
    flex-direction: column;
}

.footer__left h2 {
    margin-bottom: 24px;
}

.footer__left p {
    line-height: 2;
}

.footer__right {
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
}

.footer__right a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}

.footer__right a:hover {
    text-decoration: underline;
}

/* Media Queries for Footer Section */
@media screen and (max-width: 1000px) {
    .footer__container {
        padding: 60px 24px;
        grid-template-columns: 1fr 1fr;
    }

    .footer__right {
        flex-direction: column;
    }
}

@media screen and (max-width: 468px) {
    .footer__right {
        padding: 0 16px;
    }
}